In [2]:
# Setup
import pandas as pd
import numpy as np

# Reading File
file_path = "Desktop/Terrazas IFETEL/Personal/Varios/DA Boot Camp/Pandas Challenge/HeroesofPymoli/Resources/purchase_data.csv"

purchase_data = pd.read_csv(file_path)
purchase_data_df = pd.DataFrame(purchase_data)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
##Player Count
total = purchase_data_df.loc[:, "SN"].nunique()

# Display total number of players
total_players_df = pd.DataFrame({"Total Number of Players": [total]})
total_players_df

   Total Number of Players
0                      576

In [17]:
##Purchasing Analysis

In [18]:
avg_price = purchase_data_df["Price"].mean()
avg_price

3.050987179487176

In [19]:
total_revenue = purchase_data_df["Price"].sum()
total_revenue

2379.77

In [20]:
number_of_purchases = purchase_data_df["Price"].count()
number_of_purchases

780

In [21]:
unique_items = purchase_data_df["Item ID"].nunique()
unique_items

179

In [24]:
purchase_data_df["Average Price"] = avg_price

In [25]:
#DataFrame 

purchase_summary_table = pd.DataFrame({"Number of Unique Items": [unique_items], 
                                       "Average Price": [avg_price],
                                       "Total Revenue": [total_revenue], 
                                       "Number of Purchases": [number_of_purchases]})
purchase_summary_table = purchase_summary_table.round(2)
purchase_summary_table.head()

   Number of Unique Items  Average Price  Total Revenue  Number of Purchases
0                     179           3.05        2379.77                  780

In [26]:
##Gender Demographics

In [122]:
#Players without duplicates...

player_counts_df = purchase_data_df.loc[:, ["Gender", "Age", "SN"]]
player_counts_df = player_counts_df.drop_duplicates()
player_total = player_counts_df.count()[2]
player_total

576

In [123]:
gender_counts = player_counts_df["Gender"].value_counts()
gender_counts

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [124]:
gender_percentage = gender_counts / player_counts_df["Gender"].count() * 100
gender_percentage

Male                    84.03
Female                  14.06
Other / Non-Disclosed    1.91
Name: Gender, dtype: float64

In [125]:
gender_summary_table = pd.DataFrame({"Total Count": gender_counts, 
                             "Percentage of Players": gender_percentage})
gender_summary_table

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91

In [126]:
##Purchasing Analysis (Gender)

In [127]:
purchase_count = purchase_data_df.groupby(["Gender"]).count()["Price"].rename("Purchase Count")
purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase Count, dtype: int64

In [128]:
total_purchase_value = purchase_data_df.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
total_purchase_value

Gender
Female                    361.94
Male                    1,967.64
Other / Non-Disclosed      50.19
Name: Total Purchase Value, dtype: float64

In [129]:
avg_purchase_pr = total_purchase_value / purchase_count
avg_purchase_pr = avg_purchase_pr.rename("Average Purchase Price")
avg_purchase_pr

Gender
Female                  3.20
Male                    3.02
Other / Non-Disclosed   3.35
Name: Average Purchase Price, dtype: float64

In [130]:
avg_total_person = total_purchase_value / gender_counts
avg_total_person = avg_total_person.rename("Average Total Purchase per Person")
avg_total_person

Female                  4.47
Male                    4.07
Other / Non-Disclosed   4.56
Name: Average Total Purchase per Person, dtype: float64

In [131]:
gender_purchase_summary = pd.DataFrame({"Purchase Count": purchase_count,
                                        "Average Purchase Price": avg_purchase_pr, 
                                        "Total Purchase Value": total_purchase_value,
                                        "Average Total Purchase per Person": avg_total_person
                                       })
gender_purchase_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,"1,967.64",4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

In [132]:
##Age Demographics

In [133]:
# Bins for age groups
bins = [0, 9, 14, 19, 24, 29, 34, 39, 150]
group_names = ["<10", "10-14", "15-19","20-24","25-29", "30-34", "35-39", "40+"]

In [134]:
# Categorizing the age bins
player_counts_df["Age Range"] = pd.cut(player_counts_df["Age"], bins, labels=group_names)

In [135]:
# Calculating age group numbers
age_group_count = player_counts_df["Age Range"].value_counts()
age_group_count

20-24    258
15-19    107
25-29     77
30-34     52
35-39     31
10-14     22
<10       17
40+       12
Name: Age Range, dtype: int64

In [136]:
age_percentages = age_group_count / player_total *100 
age_percentages

20-24   44.79
15-19   18.58
25-29   13.37
30-34    9.03
35-39    5.38
10-14    3.82
<10      2.95
40+      2.08
Name: Age Range, dtype: float64

In [137]:
age_demographics = pd.DataFrame({"Player Age Count Totals": age_group_count, "Player Percentages": age_percentages})
age_demographics = age_demographics.sort_index()
pd.options.display.float_format = '{:,.2f}'.format
age_demographics

       Player Age Count Totals  Player Percentages
<10                         17                2.95
10-14                       22                3.82
15-19                      107               18.58
20-24                      258               44.79
25-29                       77               13.37
30-34                       52                9.03
35-39                       31                5.38
40+                         12                2.08

In [138]:
##Purchasing Analysis (Age)

In [139]:
# Age Bins for the purchase_data 
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, labels=group_names)

age_purchase_count = purchase_data.groupby(["Age Range"]).count()["Price"].rename("Purchase Count")
age_purchase_avg = purchase_data.groupby(["Age Range"]).mean()["Price"].rename("Purchase Price Average")
age_purchase_data = purchase_data.groupby(["Age Range"]).sum()["Price"].rename("Total Purchase Amount")

In [140]:
# Average total per person
age_avg_purchases_pp = age_purchase_data / age_demographics["Player Age Count Totals"]

# DataFrame
age_purchasing_analysis_df = pd.DataFrame({"Purchase Count": age_purchase_count, "Avg. Purchase Price": age_purchase_avg,
                                          "Avg. Purchase Total Per Person": age_avg_purchases_pp})
age_purchasing_analysis_df

           Purchase Count  Avg. Purchase Price  Avg. Purchase Total Per Person
Age Range
<10                    23                 3.35                            4.54
10-14                  28                 2.96                            3.76
15-19                 136                 3.04                            3.86
20-24                 365                 3.05                            4.32
25-29                 101                 2.90                            3.81
30-34                  73                 2.93                            4.12
35-39                  41                 3.60                            4.76
40+                    13                 2.94                            3.19

In [141]:
##Top Spenders

In [142]:
#Calculations & Data frame...
user_number_spendings = purchase_data.groupby(["SN"]).count()["Price"].rename("Purchase Count")
user_average_spendings = purchase_data.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")
total_spendings = purchase_data.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")


user_spending_df = pd.DataFrame({"Purchase Count": user_number_spendings, "Average Purchase Price": user_average_spendings,
                                 "Total Purchase Value": total_spendings})

sorted_user_spending_df = user_spending_df.sort_values("Total Purchase Value", ascending=False)
sorted_user_spending_df.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

In [143]:
##Most Popular Items

In [144]:
# Getting variables...Items...
items_df = purchase_data.loc[:, ["Item ID", "Item Name", "Price"]]

In [145]:
# Calculating purchase count and total value
item_purchase_count = items_df.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Item Purchase Count")
item_purchase_total = items_df.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")
item_price = items_df.groupby(["Item ID", "Item Name"])["Price"].mean().rename("Item Price")

# Data frame summary table
summary_items_df = pd.DataFrame({"Item Purchase Count": item_purchase_count, "Item Price": item_price, "Total Purchase Value": item_purchase_total})

sorted_items_df = summary_items_df.sort_values("Item Purchase Count", ascending=False)
pd.options.display.float_format = '{:,.2f}'.format
sorted_items_df.head()

,,Item Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
132,Persuasion,9,3.22,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77

In [146]:
##Most Profitable Items

In [147]:
# Sorting...by total purchase value
sorted_items_total = summary_items_df.sort_values("Total Purchase Value", ascending=False)
sorted_items_total.head()

,,Item Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
103,Singed Scalpel,8,4.35,34.80